[submodule "mikoshis"]
	path = python/mikoshis
	url = https://github.com/Higakinn/mikoshis.git
[submodule "golang/chat"]
	path = golang/chat
	url = https://github.com/hgaiji/golang-chat.git
[submodule "golang/gc2_streaming_bot"]
	path = golang/gc2_streaming_bot
	url = https://github.com/Higakinn/gc2-streaming-bot.git
[submodule "memo"]
	path = memo
	url = https://github.com/Higakinn/daily-memo.git
[submodule "python/mongo-oplog"]
	path = python/mongo-oplog
	url = https://github.com/hgaiji/mongo-oplog.git
[submodule "mongo/mongo-shard"]
	path = mongo/mongo-shard
	url = https://github.com/Higakinn/mongo-shard.git
[submodule "python/py-selenium"]
	path = python/py-selenium
	url = https://github.com/Higakinn/selenium.git
[submodule "golang/golang-project-template"]
	path = golang/golang-project-template
	url = https://github.com/Higakinn/golang-project-template.git
[submodule "python/python-project-template"]
	path = python/python-project-template
	url = https://github.com/Higakinn/python-project-template.git
[submodule "python/gql-ariadne"]
	path = python/gql-ariadne
	url = https://github.com/Higakinn/gql-ariadne.git
[submodule "myscripts/gc2bot"]
	path = myscripts/gc2bot
	url = https://github.com/Higakinn/gc2bot.git
